@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.global-btn {
  padding: 8px 27px;
  border: none;
  background-color: hsl(180deg, 66%, 49%);
  color: white;
}

.global-btn:hover {
  opacity: 0.5;
}

.sub-header {
  font-size: 1.7rem;
  font-weight: 500;
  color: hsl(260deg, 8%, 14%);
}

.text {
  color: hsl(0deg, 0%, 75%);
  line-height: 23px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.hamburger {
  cursor: pointer;
  color: hsl(0deg, 0%, 75%);
}

.link-nav {
  margin-right: 15px;
  color: hsl(0deg, 0%, 75%);
  cursor: pointer;
}

.link-nav:hover {
  color: black;
}

.link-nav:first-child {
  margin-left: 25px;
}

.login {
  color: hsl(0deg, 0%, 75%);
  margin-right: 15px;
  cursor: pointer;
}

.main {
  padding-bottom: 80px;
}
.main .header-img {
  position: relative;
  left: 100px;
  max-width: 100%;
  height: auto;
}
.main .content h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: hsl(255deg, 11%, 22%);
}
.main .content button {
  width: 30%;
}

.API-section .API {
  width: 85%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.API-section .API .API-Box {
  padding: 30px;
  background-image: url("../images/bg-shorten-mobile.svg");
  background-size: 80%;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: hsl(257deg, 27%, 26%);
}
.API-section .API .API-Box input,
.API-section .API .API-Box button {
  padding: 12px 20px;
  margin: 5px;
  border: none;
}
.API-section .API .API-Box button {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  font-size: 1.2rem;
}
.API-section #shortLinkList {
  margin: 0 auto;
  position: relative;
}
.API-section #shortLinkList li {
  background-color: white;
  margin-top: 15px;
  padding: 20px;
  margin-bottom: 50px;
}
.API-section #shortLinkList .button {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  font-size: 1.2rem;
  border: none;
}

.info-container {
  background-color: #eef1f6;
  padding-bottom: 100px;
  height: auto;
}
.info-container .info {
  margin-top: 58px;
  padding-top: 125px;
}
.info-container .info .info-header {
  margin-bottom: 30px;
  min-width: 50%;
  margin: 0 auto 50px auto;
}
.info-container .info .box-container {
  min-height: 400px;
}
.info-container .info .box {
  background-color: white;
  width: 85%;
  height: auto;
  margin: 0 auto;
}
.info-container .info .circle {
  position: relative;
  top: -20px;
}
.info-container .info .circle .circle-img {
  background-color: hsl(257deg, 27%, 26%);
  padding: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.info-container .info .line {
  height: 10px;
  width: 10px;
  background-color: hsl(180deg, 66%, 49%);
}

.boost-link-container {
  background-color: hsl(257deg, 27%, 26%);
  background-image: url("../images/bg-boost-mobile.svg");
  background-size: cover;
  width: 100%;
  height: 300px;
}
.boost-link-container div {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.boost-link-container div h3 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
}

footer {
  background-color: hsl(260deg, 8%, 14%);
  color: white;
  text-align: center;
  padding: 80px;
}
footer .logo-header {
  padding-top: 40px;
  margin-bottom: 40px;
}
footer .logo-header .logo {
  color: white;
  font-size: 1.8rem;
  font-weight: bolder;
}
footer .links h4 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.5rem;
}
footer .links ul li {
  margin-bottom: 10px;
  color: hsl(0deg, 0%, 75%);
  cursor: pointer;
}
footer .links ul li:hover {
  color: hsl(180deg, 66%, 49%);
}
footer .social-links {
  margin-top: 30px;
  padding-bottom: 50px;
}
footer .social-links ul li {
  padding: 10px;
  cursor: pointer;
  color: hsl(180deg, 66%, 49%);
}
footer .social-links ul li .social-icon {
  fill: white;
}
footer .social-links ul li .social-iconhover {
  fill: hsl(180deg, 66%, 49%);
}/*# sourceMappingURL=styles.css.map */